/Project1/JavaApplication1/nbproject/private/
/Project1/JavaApplication1/build/
/Project1/LabTask2/nbproject/private/
/Project1/LabTask2/build/
/Project1/EvenOrOdd/nbproject/private/
/Project1/EvenOrOdd/build/
/Project1/NumberReversing/nbproject/private/
/Project1/LabTask3/nbproject/private/
/Project1/LabTask3/build/
/Project1/LabTask1/nbproject/private/
/Project1/LabTask1/build/
/Project1/LabTask1.2/nbproject/private/
/Project1/LabTask1.2/build/
/Project1/LabTask1.3/nbproject/private/
/Project1/LabTask1.3/build/
/Project1/BubbleSort/nbproject/private/
/Project1/BubbleSort/build/
/Project1/InsertionSort/nbproject/private/
/Project1/InsertionSort/build/
/Project1/SelectionSort/nbproject/private/
/Project1/PowerAlgorithm/nbproject/private/
/Project1/PowerAlgorithm/build/
/Project1/NumberReversing/build/
/Project1/NumberR/nbproject/private/
/Project1/NumberR/build/
/Project1/KuchBhi/nbproject/private/
/Project1/KuchBhi/build/
/Project1/Lab2/nbproject/private/
/Project1/Lab2/build/
/Project1/NumberReversal/nbproject/private/
/Project1/16K3950/BubbleSort/build/
/Project1/16K3950/BubbleSort/nbproject/private/
/Project1/16K3950/InsertionSort/build/
/Project1/16K3950/InsertionSort/nbproject/private/
/Project1/16K3950/LabTask1.2/build/
/Project1/16K3950/LabTask1.2/nbproject/private/
/Project1/16K3950/LabTask1.3/build/
/Project1/16K3950/LabTask1.3/nbproject/private/
/Project1/16K3950/LabTask1/build/
/Project1/16K3950/LabTask1/nbproject/private/
/Project1/16K3950/LabTask2/build/
/Project1/16K3950/LabTask2/nbproject/private/
/Project1/16K3950/LabTask3/build/
/Project1/16K3950/LabTask3/nbproject/private/
/Project1/16K3950/NumberReversal/nbproject/private/
/Project1/16K3950/PowerAlgorithm/build/
/Project1/16K3950/PowerAlgorithm/nbproject/private/
/Project1/Testing/nbproject/private/
/Project1/Testing/build/
/Project1/JavaApplication18/nbproject/private/
/Project1/LinkedList/nbproject/private/
/Project1/LinkedList/build/
/Project1/GenericLinkedList/nbproject/private/
/Project1/GenericLinkedList/build/
/Project1/GenericLinkedList/dist/
/Project1/SLLWithArray/nbproject/private/
/Project1/SLLWithArray/build/
/Project1/Stack/nbproject/private/
/Project1/Stack/build/
/Lab3/Q1/nbproject/private/
/Lab3/Q1/build/
/Lab3/Q2/nbproject/private/
/Lab3/Q2/build/
/Lab3/Q6/nbproject/private/
/Lab3/Q6/build/
/Lab3/Q5/nbproject/private/
/Lab3/Q5/build/
/Lab3/Q3/nbproject/private/
/Lab3/Q3/build/
/Lab2/Q2/nbproject/private/
/Lab3/Q7/nbproject/private/
/Lab3/Q7/build/
/Lab3/Q4/nbproject/private/
/Lab3/Q4/build/
/Lab4/StackAndQueue/nbproject/private/
/Lab4/StackAndQueue/build/
/Lab4/InfixToPostfix/build/
/Lab4/InfixToPostfix/dist/
/Lab4/Palindrome/nbproject/private/
/Lab4/Palindrome/build/
/Lab4/ParenthesisCheck/nbproject/private/
/Lab4/Deque/nbproject/private/
/Data Structures/MaximumElement/nbproject/private/
/Data Structures/MaximumElement/build/
/Data Structures/BalancedParenthesis/nbproject/private/
/Data Structures/BalancedParenthesis/build/
/Data Structures/StacksUsingQueue/nbproject/private/
/Data Structures/StacksUsingQueue/build/
/Data Structures/QuizByMissSadafLinkList/QuizLinkList/build/
/Data Structures/QuizByMissSadafLinkList/QuizLinkList/nbproject/private/
/Data Structures/BinaryTrees/nbproject/private/
/Data Structures/BinaryTrees/build/