/Project1/JavaApplication1/nbproject/private/
/Project1/JavaApplication1/build/
/Project1/LabTask2/nbproject/private/
/Project1/LabTask2/build/
/Project1/EvenOrOdd/nbproject/private/
/Project1/EvenOrOdd/build/
/Project1/NumberReversing/nbproject/private/
/Project1/LabTask3/nbproject/private/
/Project1/LabTask3/build/
/Project1/LabTask1/nbproject/private/
/Project1/LabTask1/build/
/Project1/LabTask1.2/nbproject/private/
/Project1/LabTask1.2/build/
/Project1/LabTask1.3/nbproject/private/
/Project1/LabTask1.3/build/
/Project1/BubbleSort/nbproject/private/
/Project1/BubbleSort/build/
/Project1/InsertionSort/nbproject/private/
/Project1/InsertionSort/build/
/Project1/SelectionSort/nbproject/private/
/Project1/PowerAlgorithm/nbproject/private/
/Project1/PowerAlgorithm/build/